<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="author" content="Jaiden Huijts">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gymbuddy </title>
</head>
<body>
       <header>
    {{!-- <a href="http://localhost:1337/"> --}}
     <img id="logo" src="images/logo.png">
     </a>
     
 </header>
   
    {{{body}}}
</body>
</html>