<body>
    <h1>Tik op een optie hieronder om een gym toe tevoegen</h1>
    <div id="styleform">
    <form method="GET" action="/" enctype="multipart/form-data">
    
    <div id="sbs">
    <input type="submit" name="Sportschool" value="Big Gym" id="add">
    <input type="submit" name="Sportschool" value="Pelikaan" id="add">
    <input type="submit" name="Sportschool" value="Vondelgym" id="add">
    </div>
    <div id="sbs">
    <input type="submit" name="Sportschool" value="Body Fit" id="add">
    <input type="submit" name="Sportschool" value="Trainmore" id="add">
    </div>

    

    
    
    </form>
    </div>
</body>