<body>
    <h1>Welke afspraak wil je bevestigen bevestigen?</h1>
    <div id="bevestigform">





        <form method="POST" action="/afspraakbevestigd" enctype="multipart/form-data">

            <fieldset id="afspraakbevestiging">

                <label for="datum">
                    <h2>Nieuwjaarsdag</h2>
                    <p>2023-1-1</p>
                </label>
                <input type="radio" name="afspraakdatum" value="2023-1-1" id="datum">
            </fieldset>

            <input type="submit" name="Bevestiging" value="Afspraak Bevestigen" id="add2">
        </form>
    </div>
</body>