<body>
    <h1>Je afspraak is bevestigd</h1>

    <img id="check" src="images/check.png">
    <p id="pbevestig">Klik op het huisje om opnieuw een Gymbuddy te zoeken</p>
    <a href="http://localhost:1337/">
    <img id="home" src="images/home-2.png">
    </a>
</body>