<body>
    <h1>Wil je de afspraak bevestigen?</h1>
    <div id="bevestigform">
    
   <div>
   <h2>Nieuwjaarsdag</h2> 
   <p>2023-1-1</p>
   </div>



    <form method="POST" action="/afspraakbevestigd" enctype="multipart/form-data">
    
   
    <input type="submit" name="Afspraak" value="Afspraak Bevestigen" id="add2">
    </form>
    </div>
</body>