<body>
  <main>
    <a id="filteren" href="http://localhost:1337/">
      <img id="filterimg" src="images/filterdicht.png">
    </a>
   <ul id="resultatenlist">
      
       {{>resultaten}}
   </ul>

  </main>
</body>