


<body>
 <main>
      <a id="filteren" href="http://localhost:1337/filteropen">
      <img id="filterimg" src="images/filter.png">
      </a>
  <ul class="userList">
     <li>{{userList}}</li>
  </ul>
 </main>
</body>