
<main>
    


<form action="/filteropen" method="POST">


{{!-- Sportschool --}}
<label for="sportschool">Sportschool</label>
<select name="sportschool" value="sportschool">
  {{>gyms}}
</select>


{{!-- Geslacht --}}
<label for="geslacht">Geslacht</label>
<section>
<div>
    <label for="man">Man</label>
    <input type="radio" name="geslacht" value="Man" id="man">
  </div>

  <div>
    <label for="vrouw">Vrouw</label>
    <input type="radio" name="geslacht" value="Vrouw" id="vrouw">
  </div>
  </section>

 
{{!-- Leeftijd --}}
<label for="leeftijd">Leeftijd</label>
<select name="leeftijd" id="leeftijd" value="Leeftijd">
  <option>Op welke leeftijd wil je filteren?</option>
  <option name="leeftijd" value="18">18</option>
  <option name="leeftijd" value="19">19</option>
  <option name="leeftijd" value="20">20</option>
  <option name="leeftijd" value="21">21</option>
</select>


{{!-- Sportniveau --}}
<label for="sportniveau">Sportniveau</label>
<section>
 <div>
    <label for="beginner">Beginner</label>
    <input type="radio" name="sportniveau" value="Beginner" id="Beginner">
  </div>

  <div>
    <label for="gemiddeld">Gemiddeld</label>
    <input type="radio" name="sportniveau" value="Gemiddeld" id="Gemiddeld">
  </div>
  <div>
    <label for="gevorderd">Gevorderd</label>
    <input type="radio" name="sportniveau" value="Gevorderd" id="Gevorderd">
  </div>
</section>

{{!-- Spiergroep --}}
<label for="sportniveau">Sportniveau</label>
<section>
 <div>
    <label for="borst">Borst</label>
    <input type="radio" name="spiergroep" value="Borst" id="Borst">
  </div>

  <div>
    <label for="rug">Rug</label>
    <input type="radio" name="spiergroep" value="Rug" id="Rug">
  </div>
  <div>
    <label for="benen">Benen</label>
    <input type="radio" name="spiergroep" value="Benen" id="Benen">
  </div>
  </section>
  <section>
  <div>
    <label for="bicep">Bicep</label>
    <input type="radio" name="spiergroep" value="Bicep" id="Bicep">
  </div>
  <div>
    <label for="bicep">Tricep</label>
    <input type="radio" name="spiergroep" value="Tricep" id="Tricep">
  </div>
</section>

  <input type="submit" name="submit" value="filter" id="submitknop">
  
  <div class="textoutput"></div>


  </form>


<div class="gymgender"></div>
<script src="./js/script.js"></script>
</main>
