
<body>
 <main>
      <a id="filteren" href="http://localhost:1337/filteropen">
      <img id="filterimg" src="images/filter.png">
      </a>

  <ul>
     <div>
     <li id="gebruiker">
        Jaiden Huijts
        <img src="images/boy.png">
     </li>
      <li id="gebruiker">
        Jazzlin Schenk
        <img src="images/girl.png">
     </li>
     </div>
      <li id="gebruiker">
        Jesper van Driel
        <img src="images/boy.png">
     </li>
  </ul> 




 </main>
</body>