*,
*::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Standaarden */

body {
    background: linear-gradient(65deg, #FF9400 65%, #ffff 35%);
    height: 100vh;
    text-align: center;
}

header {
    display: flex;
    background-color: #ffff;
    width: 100vw;
    justify-content: center;
    border: solid #ffff;
    box-shadow: 0em 0.375em 1.875em black;
}

main {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    margin-top: 1.875em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    flex-direction: column;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;

}



/* Lijsten */
div {
    display: flex;
    flex-direction: row;
}


#logo {
    height: 5.625em;
    width: 5.625em;
    padding: 0.75em;
}

#filteren {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

#filterimg {
    height: 3.75em;
    width: 3.125em;
    border: solid #ffff;
    border-radius: 15%;
    background-color: #FF9400;
    box-shadow: 0.125em 0.25em black;
}

h1 {
    font-size: 30pt;
    margin-top: 1.5em;
    background-color: white;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#gebruiker {
    border: solid 4pt black;
    background-color: white;
    width: 100px;
    padding: 0.625em;
    border-radius: 15%;
}

ul img {
    height: 3.125em;
    width: 3.125em;
}

li {
    border: solid 2px black;
    border-radius: 25%;
    margin-top: 1.5em;
    width: 9.375em;
    background-color: black;
    color: #ffff;
    font-size: 15pt;
    padding: 0.375em;




}

a {
    text-decoration: none;
}


.list li {

    color: black;
    background-color: white;
    width: 100%;
    background-size: 12.5em;
    border: solid 0.25em #FF9400;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0.5em 0.8125em 0.5em black;
    padding: 0em;




}

.list li h2 {
    margin: 0em;
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list li p {
    margin-top: 0em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Filter */

section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#submitknop {
    width: 5em;
    background-color: #FF9400;
    color: #ffff;
    border-radius: 0.5em;
    font-size: 30pt;
    padding: 0.625em;
    border: solid #ffff;
    box-shadow: 0.125em 0.25em black;
    margin-left: 2em;
    margin-top: 2em;
}



/* CHECKED STYLES */


form label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width: fit-content;
    font-size: 18pt;
    border: solid 2pt white;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    color: white;
    background-color: #FF9400;
    box-shadow: 0.125em 0.25em 0.35em black
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: fit-content;
    margin-right: 50px;
    padding-top: 20px;

}



.koppen {
    font-size: 20pt;
    border: none;
    color: black;
    background-color: transparent;
    box-shadow: none;
}


fieldset input[type="radio"] {
    display: none;
}

fieldset input[type="radio"]:checked+label {
    background-color: white;
    color: black;
    border: solid 2pt #FF9400;
}









/* Toevoegen */

#add {
    width: fit-content;
    background-color: white;
    color: #FF9400;
    border-radius: 0.5em;
    font-size: 10pt;
    padding: 0.625em;
    border: solid #FF9400;
    box-shadow: 0.125em 0.5em black;
    margin: 1.25em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;

}

#styleform {
    display: flex;
    justify-content: center;
    flex-direction: row;


}

#toevoegenimg {
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(51, 240, 51);
    border: solid 0.125em black;
    padding: 0.3125em;
    border-radius: 0.5em;
}


#sportschool {
    background-color: white;
    border: solid 0.125em #FF9400;
    border-radius: 0.5em;
    box-shadow: 0.125em 0.25em 0.3125em black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;

}


/* Filter resultaten */
#resultatenlist li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: solid 0.25em #FF9400;
    color: black;
    width: 100%;
    border-radius: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0.125em 0.25em black;


}

#resultatenlist li a {
    color: black;
}

#resultatenlist li img {
    width: 4.6875em;
    height: 4.6875em;
}


/* Errorpage */

#joel {
    margin-left: 0.875em;
    margin-right: 0.875em;
    width: 18.75em;
    margin-top: 12.5em;
}

/* bron: https://tenor.com/nl/view/joel-beukers-breek-de-tent-af-gif-10106743 */



/* Afspraak pagina's */
#bevestigform {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;

}

#bevestigform div {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    background-color: white;
    border: solid 0.25em #FF9400;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0.5em;
    margin-left: 0.875em;
    margin-right: 0.875em;
    box-shadow: 0.3125em 0.375em 0.3125em black;


}

#afspraakbevestiging {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    background-color: white;
    border: solid 0.25em #FF9400;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0.5em;
    margin-left: 5em;
    margin-right: 0.875em;
    box-shadow: 0.3125em 0.375em 0.3125em black;

}

#afspraakbevestiging input[type="radio"] {
    display: block;
}

#afspraakbevestiging label {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: black;
}


#datum {
    margin-top: 1em;
    margin-bottom: 1em;

}



#add2 {
    margin-top: 3.125em;
    width: fit-content;
    background-color: #FF9400;
    color: #ffff;
    border-radius: 0.5em;
    font-size: 14pt;
    padding: 0.625em;
    border: solid #ffff;
    box-shadow: 0.125em 0.25em black;
    margin-left: 6em;
    margin-top: 6.875em;


}

#pbevestig {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0.3125em;
    font-size: 15pt;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#check {
    width: 6.25em;
    height: 6.25em;
    margin-top: 2.5em;
}

#home {
    width: 3.125em;
    height: 3.125em;
    margin-top: 1.25em;
}


#api-error {
    position: fixed;
   overflow: hidden;
   margin-top: 4em;
   margin-left: 4em;
   font-size: 20pt;
}

/* Notificatie */

aside {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    background-color: #FF9400;
    border: solid 0.1875em white;
    box-shadow: 0.3125em 0.375em 0.3125em black;
    border-radius: 0.5em;
    width: 85%;
    height: 70%;
    margin: 0em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: animatie;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    margin-left: 2em;
    margin-top: 1.5em;
}

aside h2 {
    padding-top: 1.25em;
    padding-left: 0.625em;
    padding-right: 1.25em;
}

aside p {
    font-size: 15pt;
    padding: 0.625em;

}

aside img {
    height: 25em;
}

.melding {
    animation-name: animatie;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



@keyframes animatie {
    0% {
        visibility: visible;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}